.divReq label, .divReq div{
	margin: 0 2% 1% 0;
	width: 22px;
	height: 22px;
}
.divRes #divResiduos .col-md-3{
	text-align: center;
	padding-top: 2.5%;
	padding-bottom: 4%;
	border-radius: 1%;
	border: 1px solid #dddddd;
}
.text-aline-center div{
	text-align: center;
}
.text-aline-center .col-md-5, .text-aline-center .col-md-12,.text-aline-center .col-md-6{
	text-align: left;
}
.help-block, .with-errors{
	display: inline;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
}
a.textpopover{
	margin-right: 0;
	width: 50%; 
	white-space: nowrap;
	text-align: right;
	overflow: hidden;
	text-overflow: clip; 
}
.textolargo{
	word-break: break-all;
}
.popover{
	max-width: 100%;
	background-color: #d2d6de;
	color: #000;
}