*,*:after, *:before{
	margin: 0;
	padding: 0;
	box-sizing:  border-box;
}
.divReq label, .divReq div{
	margin: 0 2% 1% 0;
	width: 22px;
	height: 22px;
}
.divRes #divResiduos .col-md-3{
	text-align: center;
	padding-top: 2.5%;
	padding-bottom: 4%;
	border-radius: 1%;
	border: 1px solid #dddddd;
}
.text-aline-center div{
	text-align: center;
}
.text-aline-center .col-md-5, .text-aline-center .col-md-12,.text-aline-center .col-md-6{
	text-align: left;
}
.help-block, .with-errors{
	display: inline;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
}
.list-group a{
	text-align: right;
}
.popover-left{
	/*float: left !important; */
	width:100% !important;
}
a.textpopover{
	width: 45%; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	text-align: right;
}
.textolargo{
	word-break: break-all;
}
.popover{
	max-width: 100%;
	background-color: #d2d6de;
	color: #000;
}
.fa-copy{
	cursor: pointer;
}
.form-control{
	height: auto;
	/*margin-bottom: 0;*/
	max-height: 2.4em;
}
select.form-control{
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	outline: 0;
	background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
	background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	padding-left: 8px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #444;
	line-height: 28px;
	/*height: 2.1em;*/
	/*padding-top: 2px;*/
}
.size-img{
	width:120px; 
	height:120px;
}
.border-gray{
	border-bottom:#f4f4f4 solid 2px;
}
.boton{
	font-size: 1.2em;
	opacity: 0.5 !important;
}
.boton:hover{
	opacity: 1 !important;
}
.select2-container--classic, .select2-selection--single{
	height: 2.3em !important;
}
.select2-selection__rendered{
	padding: 6px 12px !important;
}
.select2-selection__arrow{
	height: 2.2em !important;
	margin-bottom: 0.1em;
}
.table{
	position: relative !important;
	width: 100% !important;
}
.fixed_widthbtn{
	width:3em;
}