/*Stilos del Loading con el logo de Prosarc*/
#contenedor_carga{
	background-color: #ecf0f5;
	height: 100%;
	width: 100%;
	position: fixed;
	transition: all 1s ease;
	z-index: 10000;
}
#Superior{
	background-image: url("/img/LoadingProsarc/Superior.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 300px;

	position: relative;
	top: 7%;
	left: -8%;
	margin: auto;
	animation: superior 2s infinite;
}
#Derecho{
	background-image: url("/img/LoadingProsarc/Derecho.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 300px;

	position: relative;
	top: -17.5%;
	left: -2%;
	margin: auto;
	animation: derecho 2s infinite;
}
#Izquierdo{
	background-image: url("/img/LoadingProsarc/Izquierdo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 300px;

	position: relative;
	top: -45%;
	left: -10%;
	margin: auto;
	animation: izquierdo 2s infinite;
}
#Inferior1{
	background-image: url("/img/LoadingProsarc/Inferior1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 290px;

	position: relative;
	top: -67.5%;
	left: -7.5%;
	margin: auto;
	animation: inferior1 2s infinite;
}
#Inferior2 {
	background-image: url("/img/LoadingProsarc/Inferior2.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 300px;
	position: relative;
	top: -96%;
	left: -8.2%;
	margin: auto;
	animation: inferior2 2s infinite;
}
@keyframes superior {
	0%{
		opacity: 0;
		top: -7%;
	}
	75%{
		top: 7%;
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes derecho {
	0%{
		opacity: 0;
		left: 3%;
	}
	75%{
		left: -2%;
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes izquierdo {
	0%{
		opacity: 0;
		left: -15%;
	}
	75%{
		left: -10%;
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes inferior1 {
	0% {
		transform: rotateY(180deg);
		opacity: 0;
		top: -60%;
	}
	75% {
		transform: rotateY(0deg);
		opacity: 1;
		top: -67.5%;
	}
	100%{
		opacity: 0;
	}
}
@keyframes inferior2 {
	0%{
		opacity: 0;
		top: -80%;
	}
	75%{
		top: -96%;
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}