/*Stilos del Loading con el logo de Prosarc*/
#contenedor_carga{
	background-color: #ecf0f5;
	height: 100vh;
	width: 100vw;
	position: absolute;
	transition: all 1s ease;
	z-index: 10000;
}
#contenedor_carga img{
	width: 100%;
	height: 100%;
}
@keyframes superior {
	0%{
		transform: translate(0,-10rem);
		opacity: 0;
	}
	75%{
		transform: translate(0,0);
		opacity: 1;
	}
	100%{
		transform: translate(0,0);
		opacity: 0;
	}
}
@keyframes derecho {
	0%{
		transform: translate(10rem,0);
		opacity: 0;
	}
	75%{
		transform: translate(0,0);
		opacity: 1;
	}
	100%{
		transform: translate(0,0);
		opacity: 0;
	}
}
@keyframes izquierdo {
	0%{
		opacity: 0;
		transform: translate(-10rem,0);
	}
	75%{
		transform: translate(0,0);
		opacity: 1;
	}
	100%{
		transform: translate(0,0);
		opacity: 0;
	}
}
@keyframes inferior1 {
	0% {
		transform: rotateY(180deg) translate(0,10rem);
		opacity: 0;
	}
	75% {
		transform: rotateY(0deg) translate(0,0);
		opacity: 1;
	}
	100%{
		transform: rotateY(0deg) translate(0,0);
		opacity: 0;
	}
}
@keyframes inferior2 {
	0%{
		transform: translate(0,10rem);
		opacity: 0;
	}
	75%{
		transform: translate(0,0);
		opacity: 1;
	}
	100%{
		transform: translate(0,0);
		opacity: 0;
	}
}
#Superior{
	position: relative;
	top: 1rem;
	animation: superior 2s infinite;
}
#Derecho{
	position: relative;
	animation: derecho 2s infinite;
}
#Izquierdo{
	position: relative;
	animation: izquierdo 2s infinite;
}
#Inferior1{
	position: relative;
	animation: inferior1 2s infinite;
}
#Inferior2 {
	position: relative;
	animation: inferior2 2s infinite;
}
@media screen and (max-width:640px) {
	#Superior{
		height: 15rem;
		width: 15rem;
	}
	#Derecho{
		height: 15rem;
		width: 15rem;
		top: -11.8rem;
		left: 4rem;
	}
	#Izquierdo{
		height: 15rem;
		width: 15rem;
		top: -25.4rem;
		left: -1.2rem;
	}
	#Inferior1{
		height: 14.5rem;
		width: 14.5rem;
		top: -37.5rem;
		left: 0.5rem;
	}
	#Inferior2 {
		height: 15rem;
		width: 15rem;
		top: -51rem;
	}
}
@media screen and (max-width:1024px) and (min-width:640px) {
	#Superior{
		height: 20rem;
		width: 20rem;
		margin-right: 25vw;
	}
	#Derecho{
		height: 20rem;
		width: 20rem;
		margin-right: 25vw;
		top: -16rem;
		left: 5.5rem;
	}
	#Izquierdo{
		height: 20rem;
		width: 20rem;
		margin-right: 25vw;
		top: -34.1rem;
		left: -1.7rem;
	}
	#Inferior1{
		height: 19.5rem;
		width: 19.5rem;
		margin-right: 25vw;
		top: -50.2rem;
		left: 0.7rem;
	}
	#Inferior2 {
		height: 20rem;
		width: 20rem;
		margin-right: 25vw;
		top: -68.2rem;
	}
}
@media screen and (min-width:1024px) {
	#Superior{
		height: 30rem;
		width: 30rem;
		margin-right: 20vw;
	}
	#Derecho{
		height: 30rem;
		width: 30rem;
		margin-right: 20vw;
		top: -24.6rem;
		left: 8.2rem;
	}
	#Izquierdo{
		height: 30rem;
		width: 30rem;
		margin-right: 20vw;
		top: -51.6rem;
		left: -2.5rem;
	}
	#Inferior1{
		height: 29rem;
		width: 29rem;
		margin-right: 20vw;
		top: -75.8rem;
		left: 1.3rem;
	}
	#Inferior2 {
		height: 30rem;
		width: 30rem;
		margin-right: 20vw;
		top: -102.6rem;
	}
}