*,*:after, *:before{
	margin: 0;
	padding: 0;
	box-sizing:  border-box;
}
.divReq label, .divReq div{
	margin: 0 2% 1% 0;
	width: 22px;
	height: 22px;
}
.divRes #divResiduos .col-md-3{
	text-align: center;
	padding-top: 2.5%;
	padding-bottom: 4%;
	border-radius: 1%;
	border: 1px solid #dddddd;
}
.text-aline-center div{
	text-align: center;
}
.text-aline-center .col-md-5, .text-aline-center .col-md-12,.text-aline-center .col-md-6{
	text-align: left;
}
.help-block, .with-errors{
	display: inline;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
}
.list-group a{
	text-align: right;
}
.popover-left{
	width:100% !important;
}
a.textpopover{
	width: 45%; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	text-align: right;
}
p.textpopoveraddress{
	width: 45%; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	text-align: right;
	color: #3c8dbc;
}
.textolargo{
	word-break: break-all;
}
.popover{
	max-width: 40%;
	background-color: #d2d6de;
	color: #000;
}
.fa-copy{
	cursor: pointer;
}
.form-control{
	height: auto;
	max-height: 2.4em;
}
textarea.form-control{
	max-height: none;
}
select.form-control{
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	outline: 0;
	background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
	background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	padding-left: 8px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #444;
	line-height: 28px;
}
.size-img{
	width:120px; 
	height:120px;
}
.border-gray{
	border-bottom:#f4f4f4 solid 2px;
}
.boton{
	font-size: 1.2em;
	opacity: 0.5 !important;
}
.boton:hover{
	opacity: 1 !important;
}
.select2-container--classic, .select2-selection--single{
	height: 2.3em !important;
}
.select2-selection__rendered{
	padding: 6px 12px !important;
}
.select2-selection__arrow{
	height: 2.2em !important;
	margin-bottom: 0.1em;
}
.table{
	position: relative !important;
	width: 100% !important;
}
.fixed_widthbtn{
	width:3em;
}
.profile-user-img{
	height: 100px;
}
.user-panel > .image > img{
	max-height: 45px;
	height: 100%;
}
.select2-selection--multiple > .select2-selection__rendered{
	padding: 0 0 0 12px !important;
}
ul.list-unstyled li:not(:first-child) {
	display: none;
}
#ContactComercial{
	z-index: 1050;
	width: 20rem;
	height: 20rem !important;
}
/*aumentar la longitud del slider*/
.slider.slider-horizontal{
  width:100% !important;
}
/* estilos para los selects desabilitados*/
.select2-container--disabled .select2-selection--single {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed !important;
}
.select2-container--disabled .select2-selection--multiple {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed !important;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}